@import url('https://fonts.googleapis.com/css?family=Convergence');
#logo {
    width: 25%;
    height: 25%;
    position: relative;
    top: 13em;
    left: 38%;
}

* {}

body {
    font-family: 'Convergence', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(../images/ciudad1.jpg);
    margin: 0 auto;
}

#fondo {}

.htmlN {
    background-image: url(../images/fondo1.jpg);
}

#btns {
    width: 90%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 24%;
    left: 4%;
    background-color: transparent;
}

#btns button,
#btns a {
    padding: 1%;
    font-size: 1.7em;
    background-color: rgba(188, 0, 245, 0.7);
    border-color: transparent;
    color: aliceblue;
}

.html2 {
    color: #08131d;
}

.nextBtn {
    width: 50px;
    height: 50px;
    background-color: aqua;
}
